
  @import "~materialize-css/dist/css/materialize.css";

.shop-icon {
    font-size: 40px !important;
}
.item-inside
{
  border-bottom:1px solid lightgrey;  
  border-right:1px solid lightgrey;
   margin-top:10px; 
   margin-bottom:10px; 
}
.item-outside{
    padding-top: 5%;
    padding-bottom: 15%;
}
::placeholder{
    color:gray;
    opacity: 1;
}
.container {
    margin: 0;
    max-width: 100%;
    width: 93%;
    padding-left: 7%;
}
.left-bar{
    margin-top: 50px;
}
a{
    color: rgb(134, 134, 134);
}
a.modal-link{
    color: rgb(134, 134, 134);
}
.left-bar-item{
    border-bottom: 1px solid lightgrey;
}
.items{
    border-left: 1px solid lightgrey;
}
.item-page-elem{
    padding: 0.5em;
    height: 2em;
    border: 1px solid lightgray;
}
.item-available{
    border: none!important;
}
.item-buy{
    font-size: 3em;
}
.currency{
    font-size: 0.7em;
}
.add-cart-input { 
    text-align: center; 
}
.click-icon{
    cursor: pointer;
    user-select: none;
}
.item-btn{
    margin-bottom: 1em;
}
.modal {
    overflow-x: hidden;
}